<div class="page-header">
  <h1>Members</h1>
</div>
<section>
  <ul id="item" class="section group">
        <% @users.each do |user| %>
          <li class="col span_1_of_3">
            <strong><a href=<%=user.profile_name %>> <%=user.profile_name %></a></strong>
            <div class="text-summary"><p><%=user.description %></p></div>

          </li>
        <% end %>
  </ul>
</section>
<div class="digg_pagination">
<%= will_paginate @users %>
    </div>