<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>
<div class="editbox">
<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
</div>