<h1>Pirates of a Wayward Star</h1>

<p>Hello And Welcome to Pirates of a Wayward Star. Our humble Final Fantasy XIV Roleplaying Free Company.</p>

<p> Navigate the site, feel at home.</p>


<h2>Voice - Come Chat with Us</h2>

<p>We have a TS3 server and a Discord server. Come check them out. If you wish to join, please let one of the officers of the FC know and we can invite you. It is on an invite only basis to avoid any undesirables such as trolls from outside of the FC.</p>


<h2>How to Join</h2>
 <p>First. Read the FC rules.</p>
 <p>Second. Locate an officer/leader of the FC. Current officers/leaders are below:</p>
 
 <ul>
  <li><strong>Saefinn Liljasson: </strong>Captain/FC Leader</li>
  <li><strong>Beldrem Cando: </strong>First Mate/2nd-in-command</li>
  <li><strong>Strawberry Charlotte: </strong>Council Member/Officer</li>
  <li><strong>Shayith Lumisol: </strong>Council Member/Officer</li>
  <li><strong>Kai Septhis: </strong>Council Member/Officer</li>
 </ul>
 
 <p>If you cannot locate a leader/officer. We often have members hanging around our FC house and the market board near it. <strong>Location:</strong> Mist, Ward 6, Plot 1</p>

 <h2>Free Company Rules</h3>
 <p>We have a few bits and pieces on the rules for the free company. How we combat and what we expect of members, especially during roleplay.</p>
 
 
 
 <h2>Rules</h2>

<p>"Officer" will refer to anybody in authority. Those positions are: Captain, First Mate and Council Member.
Officer structures are tiers: Council members are first point of contact, first mate is second and captain is the third.</p>

<h4><strong>Disclaimer: </strong>If these rules make you uncomfortable or don't suit you, then the Wayward Star FC or LS is not for you. And you may wish to seek RP with other groups who suit your needs better or form your own.</h4>

<div class="contentsbox">
    <h4>Contents</h4>
    <ul>
        <li><a href="#members">Members</a></li>
        <li><a href="#conduct">Conduct</a></li>
        <li><a href="#escalation">Escalation/Officers</a></li>
        <li><a href="discipline">Discipline</a></li>
        <li><a href="#officers">Officers and Their Powers</a></li>
        <li><a href="#roleplay">RolePlay Standards</a></li>
    </ul>

</div>




<h3 id="members">A. Members [<a href="#top">To Top</a>]</h3>
<ol>
    <li>New Members Must Read <a>The Rules</a></li>
    <li>Alts are welcome, but will receive the 'alt' rank. This includes basic alts only used for story.</li>
    <li>Members are given a minimum of 30 days inactivity before being relegated to the 'inactive' rank. Upon return your rank will be returned. After 60 days, unless previously agreed, the member will be removed.</li>
    <li>Active forum participation is not mandatory, but members must visit the forums - information and FC discussions *will* be made there.</li>
    <li>Lawyering is prohibited. We are not lawyers, the rules were not written by lawyers. They are a guideline to what we expect of people and are not water tight. It is up to the discretion of officers what constitutes as a violation of these rules. Information on who these officers are can be found above.</li>
</ol>

<h3 id="conduct">B. Conduct [<a href="#top">To Top</a>]</h3>
<ol>
    <li><b>Bigotry will *NOT* be tolerated.</b> Humour is fine, but appreciate the sensitivity of some topics. Any offensive humour should not reflect personal intolerance. But let's keep it to a minimum and if you do find your humour is offensive and it makes people uncomfortable, it should be as simple as a "sorry about, I'll stop and move on" and that should be the end of it. Let's also keep out especially sensitive derogative words, including but not limited to the infamous 'n' word. Use some common sense.</li>
    <li><b>Illegal content is banned. We're not interested in facilitating any non-fictional illegal activities.</b> It would be unreasonable to expect the fact for fiction, given we are a pirate-based roleplay group.</li>
    <li><b>Adult content is not prohibited, but it must have a warning label.</b></li>
    <li><b>The OOC LS is our main point of contact for friends outside of the FC.</b> We prefer to be inclusive than exclusive and the purpose of the LS is to keep in touch. It is useful for discussing events and inter-FC RP. Let's be respectful of our friends too.</li>
    <li><b>Politics and Religion aren't banned, but will only be allowed when both sides are respectful and don't let it get heated.</b> This is an RP FC, so politics and religion have no place, but they aren't forbidden. Both topics are sensitive and must be dealt with as such. If things get heated, you may be asked to stop.</li>
    <li><b>FC Chat is a respectful place, so is the LS.</b> Arguments are not permitted. If a discussion is heated then council will intervene. If a moderated discussion is needed, it will be held separate from the FC chat, as it is otherwise unfair on members not involved. tension can be very uncomfortable and even intimidating.</li>
    <li><b>This FC and it's linkshells are not a free for all and people can't act or say as they please.</b> We will have fun and keep it relaxed and chilled, but there are limits to what will be tolerated. We would like the rules to be as simple as "One must not be a dick" but so many people define what a dick is in so many different ways.</li>
    <li><b>Begging and Mooching are not allowed.</b>If you need help, by all means ask for it, we like an FC that helps each other and we try to encourage it, so it can therefore be discouraging if somebody takes advantage of it and refuses to help themselves and relies specifically on other people. Also if people are unable to help, please do not beg.</li>
    <li><b>By Extension of the above, if you do help, be transparent.</b> This means, if you are looking for something in return (mats for crafting can be expensive, for example), you agree to it upfront. If we want people who do not mooch, in the name of fairness we do not wish people who help somebody seemingly by their own goodwill later come along and say "you owe me, do this for me".</li>
    <li><b>We are not an FC that responds to emotional blackmail.</b> Therefore, if something isn't working, we work it out and try and make it work or there's the door.</li>
</ol>

<h3 id="escalation">C. Escalation/Officers [<a href="#top">To Top</a>]</h3>
<ol>
    <li>Any action we will try to be transparent about it and make clear why the decision was made.</li>
    <li>Officers shall, at their discretion, determine what constitutes as a violation of these rules and can take action against those who violate them.</li>
    <li>The FC leader has rights to override any ruling he or she deems necessary.</li>
    <li>If an action taken by an officer is felt to be unjust, then complaints are to be taken to anybody above them. If your complaint is against the highest authority, then it is better to take it to council. One thing the council are capable of doing is telling their leaders they'd doing something wrong and thus we do not like yes-men on the council.</li>
</ol>

<h3 id="discipline">D. Discipline [<a href="#top">To Top</a>]</h3>
<p>Discipline will be handled in stages.</p>
<ol>
    <li>Warning - Inappropriate behaviour has been noted. A talk will be made to discuss the issue to bring a resolution.</li>
    <li>Demotion - Should inappropriate behaviour continue, the first stage is to demote their rank.</li>
    <li>The Brig - After a person has received necessary warnings, this is where they'll go before they are kicked. Whilst in the brig, your privileges will be strictly limited, often depending on the offense.</li>
    <li>The Kick - This is the last resort should the member continue to contribute negatively. Any contributions to the FC will not be reimbursed, for example, donations to the FC bank.
    
</ol>
<ul>
    <li>A talk at each level will be had between an officer and the member in question to determine how severe the issue is, what improvements can be made and how the member can work towards improving themselves.</li>
    <li>Each level of action will be discussed in council.</li>
    <li>Our focus is not to make people feel bad or put them down, but to improve behaviour, yet, at the same time it needs to be kept a positive environment for its members and moderation is a necessary evil to keep things happy.</li>
    <li>Especially serious cases may result in the disciplinary process from being skipped.</li>
    <li>When it comes to non-FC linkshell members, the Disciplinary Process will be treated as a guideline, the officer should opt for using this first, however, FC members come before non-FC linkshell members. We expect any situations to be handled respectfully.</li>
    <li>These steps may be overridden in special circumstances, such as gross misconduct, to tie in with the rule that the FC Leader is able to override any ruling, they may in the above too if the situation calls for it. But it is in the best interest of the FC's survival that the FC leader does not abuse this.</li>
</ul>

<h3 id="officers">E. Officers and Their Powers [<a href="#top">To Top</a>]</h3>
<p>Officers are the people that FC members contact with problems, FC members can also raise to people with the rank "Corsair", they will not handle the complaint, but raise it to council for you. Members can initiate action however they feel comfortable. Tells in-game, party chat, messages on the site, or messages over some other system. If you feel someone has acted inappropriately contact an officer or the Leader and they will make a decision on whether to act further. DO NOT make a public announcement about how you feel a member's action is unjust or wrong. Complaints can be dealt with privately.</p>
<h4>Powers include:</h4>
<ul>
    <li>Investigating issues brought to their attention</li>
    <li>Bringing problems to vote amongst FC leadership</li>
    <li>Member promotions and demotions</li>
    <li>Company Chest management</li>
    <li>Ensuring OOC Linkshell is kept clear for its primary purpose</li>
</ul>
<h4>Elections</h4>
<ul>
    <li>The FC Leader will call for an election when it is brought to his attention or he decides that a new officer is needed.</li>
    <li>Nominations will run for a period of time determined when the election is announced. Any single member of Pirate rank or above can nominate a Racketeer. Three members of Pirate rank or above can nominate a Pirate.</li>
    <li>Once nominations are closed, each nominee will be interviewed by the current officers and Leader.</li>
    <li>Once nominees are approved, a vote will be held amongst the entire FC. Any member of Pirate rank or above can vote.</li>
</ul>
<h4>Problems with Officers</h4>
<ul>
    <li>A vote of no confidence can be initiated by another officer, 3 Racketeer members, or 5 members of Pirate rank or above.</li>
    <li>A vote will go to the FC at large with each member getting a single vote. Majority rules. If the vote passes, the officer in question will be demoted to Racketeer.</li>
    <li>An officer cannot be voted down without a Warning period first.</li>
    <li>If an officer is demoted or somehow removed, the replacement will be made through normal election means.</li>
</ul>

<h3 id="roleplay">F. Roleplay Standards [<a href="#top">To Top</a>]</h3>
<p>We will not tell you *how* you roleplay, but there will be expectations you will need to meet in the participation of this FC. The idea is for smooth RP that's hassle free as possible and of course, OOC drama free. This also helps avoid misunderstandings. If you are found to not be meeting these expectations then you will be pulled up on it.</p>
<p>The best way to think about how do things: we're collaboratively writing a story with our own characters. We are not transforming ourselves into these characters and interacting with the world as a virtual reality, where we react precisely as we would react with predefined traits. The reason I make this distinction is because in the latter, you are not thinking about plot devices, about pieces coming together and not thinking about working with other people's ideas, characters and wishes. If the latter better suits you, this may not be the place for you.</p>

<p><strong><a>FC Members Always Come First.</a></strong> To further elaborate, FC members whose mains are in the FC. But that doesn't mean FC members get the right to marginalise people outside of the FC. Previously alts were only allowed if a main was in the FC, whilst we've relaxed that ruling, active FC members are our number 1 priority. If your alt is parked, you will not be equal to an FC member, unless your participation is that of a full FC member.</p>
<p><strong><a>The FC house is primarily for active members of the FC.</a></strong> Whilst we are happy for other people to join in and use it, but at no point should an FC member feel uncomfortable going in and RPing or feeling that they can't RP in there. If you wish to do a major RP in the house, seek permission from a council member. If they're not available, consult the FC members and see if they're not going to be using it for RP first. </p>
<p><strong><a>Respect people's boundaries.</a></strong> Everybody is here to have fun, but we're not here to force RP that people are uncomfortable with. When it comes to topics such as violence, sex or something that will impact a person's arc or place in RP then speak to people OOCly first. Not everybody appreciates their RP space being invaded. If a person suggests they're not happy doing what you want to do, avoid peer pressure and avoid forcing yourself onto somebody. Not everybody is going to stand their ground for fear or offending somebody or causing argument. So please respect their wishes.</p>
<p><a><strong>Avoid Godmodding.</strong></a> Godmodding is when you take control of another person's character, be it forcing something into the backstory, or influencing their actions in a fight or in an arc. It can also refer to being invincible, if you enter your character into a fight with the intention of winning and not getting harmed, then there is no need for the other player to bother (unless the result of the fight is pre-determined and agreed). Granted, you can make it challenging for whatever IC reason, but it's unrealistic for your character to essentially have the ultimate power and as a result it can also affect another character's RP in that fight. With regards to back story, it may well be that you intend to be at the same place at the same time as another character, but if you force yourself into the back story because of it, it can affect your IC relationship and the person behind the character may not wish for that to happen. So speak to the player first and see if they're happy first.</p>
<p>This further extends to using other players arcs to kickstart your own, first ensure they're comfortable. Like in my Voidsent roleplay, I took the Voidsent from another character who had their own arc with it. I asked if I could steal the sent from him and we discussed how we'd do it. This meant no communication issues and created a nice surprise for people around us, as it built IC drama. Also bear in mind, that person may have intentions you do not foresee, like the Voidsent, I could have just taken the Voidsent on, but the other roleplayer whose arc I was involved in might have other intentions.</p>
<p>Remember, your actions can affect other people, so please, be considerate.</p>
<p><strong><a>Be Lore Friendly, but accept errors are made. Lore Friendly, not Lore Nazis.</a></strong> We aren't lore Nazis, but at the same time, we do not invent game lore to suit us, but rather work with what we know to work into our RP and we also support creativity, so if it is plausible, it's fine. Nobody can be OP either, it would spoil the fun going in with somebody who can just solve everything. With lore conflict, characters will likely stick with what they know, for example, with White Magic being forbidden, if you are a White Mage, you will be seen as somebody who practices a dangerous and forbidden art and be expected to not go around the world saying "I am a White Mage, look at me" as it would be the equivalent of yelling "I am a drug dealer, I sell heroin" and you are likely to end arrested, like when Saefinn admitted to being a Pirate in the Quicksands (due to his big ego) he was actually arrested. But we are not a group who would go as far as saying "no" to White Mages and take the stance that only the Warrior of Light and the Padjali are allowed to be White Mages. We accept it's a gray area lorewise and with gray areas it will fall upon what's "plausible", City of Amdapor carries secrets of White Magic and one can assume Sharlayan would have some tomes on it. Often, if there's a will, there's a way with lore. That should give an idea of our stance on lore.</p>
<p><a><strong><a>Harassment is big no no.</a></strong> If IC, please, please, please consult the person you're harassing first. Yes, in a narrative a person may be a total d-bag and it may make absolute sense, but what you've got to remember is that there are people behind those characters and they may not be happy with what you're doing. To avoid potential OOC conflict, communicate OOCly before anything could be a problem. This also extends to not pushing people when you've already asked once or to persistently ask the same question over and over expecting a different result.</p>
<p><strong><a>Do not retroactively ask permission.</a></strong> To explain, if a person goes "So this happened, are you okay with that?" then that's retroactively asking permission, the events transpired before somebody agreed to it - whether they say 'yes' or 'no' is immaterial. Whilst RP is dynamic and it is great when the unexpected happens, but at least respect the people involved. You can keep the unexpected, unexpected by exchanging a few /tells and informing people involved enough as to not break their boundaries, so they has the opportunity to opt out. Remember, it involves people's players, so they don't have a choice, then it's essentially godmodding. Of course, if a person's response is "surprise me", of course, keep it reasonable, but conversely, if they have a problem then they're not completely innocent.</p>

