<h1>Pirates of a Wayward Star</h1>

<p>Hello And Welcome to Pirates of a Wayward Star. Our humble Final Fantasy XIV Roleplaying Free Company.</p>

<p> Navigate the site, feel at home. This website is still technically a work in progress, but its features are fully functional. See below for more information. </p>


<h2>Voice - Come Chat with Us</h2>

<p>We have a TS3 server and a Discord server. Come check them out.</p>

 <h2>Free Company Rules</h3>
 <p>We have a few bits and pieces on the rules for the free company. How we combat and what we expect of members, especially during roleplay.</p>
 
 
 <h2>How to Join</h2>
 <p>See below more information on joining</p>
 
 