
<h2>Battle Rules</h2>
<div class="info-box">
<h3>Introduction</h3>
<p>We at Wayward Star love a good bit of roleplay, it can be fun and exciting. However, when a character gets into a kerfuffle, how does one deal with it?
I suppose one could just play it be ear and unfortunately it may get a bit bland and somebody can play an all powerful character and really, we need to balance this out.</p>
<p>This is where the FC's battle rules come in. You can create a character on this site and have them ready for battle! We have opted for a very simple, but fair system. That allows for characters to have their strengths and weaknesses. But let's break it down.</p>



<p>As this is a die based system, roles can be performed by entering Wayward Star's room at rolz.org, <a href="https://rolz.org/">click here</a> and use the room entitled "Pirates of a Wayward Star".</p>
</div>

<div class="info-box">
<h3>Actions</h3>
<p>Combat is Turn-based. A player will do an action and then move onto another. So let's look at the types of actions you may wish to perform (you can get creative)</p>
<ul>
  <li>Physical Attack</li>
  <li>Ranged Attack</li>
  <li>AoT - Action Over Time</li>
  <li>Debuff</li>
  <li>Buff</li>
  <li>Speech</li>
  <li>Magic Attack</li>
  <li>Heal</li>
  <li>Evasion/Parry/Block/Deflect</li>


</ul>
<h4>Action Structure</h4>
<p>An action must make clear what a character is doing and the effect of that action if it is successful. You can be pretty dynamic, for the sake of keeping RP interesting and paying attention to story and character interaction.</p>
<p>This is an example: "Saefinn, laying on the ground, knee injured mutters under his breath, "you arrogant son of a bitch, gimme one reason why I shouldn't gut you.", he goes for the sand, throwing it to his enemy's face, if successful, will blind his foe. </p>
<p>In that example, there's a bit of dialogue, but we can see that Saefinn is using a "throwing" attack, which is ranged and if successful it will have a "status effect" of blind.</p>

</div>
<div class="info-box">
<h3>Attributes</h3>
<p><strong>Strength:</strong> This attribute will determine the chance of a physical attack connecting.</p>
<p><strong>Vitality:</strong> This attribute will grant 5hp per rank.</p>
<p><strong>Charisma:</strong> This attribute will determine the effectiveness of speech (for example, taunts).</p>
<p><strong>Dexterity:</strong> This attribute will determine the chance of a ranged attack connecting.</p>
<p><strong>Intelligence:</strong> This attribute will determine the chance of a magical attack connecting.</p>
<p><strong>Mind:</strong> This attribute will determine the chance of a support spell succeeding.</p>

<h4>Die Roll</h4>
<p>Instead of using a more complicated D&D system or anything like a D6 set up. Your 'rank' in any attributes will determine which die you roll. Starting at D6. For each attribute rank, you gain '2'. A "success" is determined if a die roll is greater or equal to "3" </p>
  <p>A roll will be made for to determine the success of an action, based on the reflective attribute</p>
  <p>A roll will be made for damage avoidance, based on the reflective attribute. A played will be able to make the decision to 'avoid' damage before an action's success is determined</p>
  <p>Finally, a die will be rolled for a damage modifier. Presently, it is just a D3, once we introduce information on skills, elements and so on, we may modify this.</p>
<strong><p>The structure of a fight will be as such:</p></strong>
  <ul>
    <li>Player 1: Makes an action (Saefinn attempts to stab Roddy)</li>
    <li>Player 2: Make a reaction (Roddy attempts to deflect his attack)</li>
    <li>Dice calculations are made.</li>
    <li>Player 2: Acknowledges result of action & reaction, followed by their next action</li>
  </ul>

<h4>Attribute Ranks</h4>
<ul>
  <li><strong>Very Low: </strong>1d6</li>
  <li><strong>Low: </strong>1d8</li>
  <li><strong>Mid: </strong>1d10</li>
  <li><strong>High: </strong>1d12</li>
  <li><strong>Very High: </strong>1d14</li>
</ul>

<p>The above attributes are player set. There are 2 additional attributes that can be determined through battle. "Ultra High" (1d16) and "Ultra Low" (1d4). The purpose of this is, if a buff or a debuff is placed on somebody whose rank is "very low" or "very high" it still has an effect.</p>

<h4>Items</h4>
  <p>You can see on the site that players can stock their own items. These are items you will use in roleplay and if you have any item you wish to use in a roleplay fight, you need to have it on your person. If you do not, you cannot use it. If a person disarms you of that item, you cannot use it until you pick it up.
  Like wise, if it is an item that you use (like a potion) then you will lose 1 of that item.</p>

</div>

<div class="info-box">
<h3>Rules for Moves</h3>
<br/>
<h4>Action Over Time (AoT)</h4>
<p>If a Action Over Time attack connects, it will last for 4 turns. Each turn will do 1 damage per turn. A player can only have 1 AoT active at a time.</p>
<p><strong>Example</strong>: Saefinn casts Bio, if successful, it will gradually cause his foe damage.</p>
<br/>
<h4>Buffs</h4>
<p>If a buffing spell is successful, it will be able to increase an attribute by 1 rank for 4 turns.</p>
<h5>Example Buffs:</h5>
<ul>
  <li><strong>Haste</strong>: Can perform 2 actions per turn.</li>
  <li><strong>Berserk</strong>: Increases Strength, once finished, inflicts Pacification on self</li>
  <li><strong>Divine Seal</strong>: Increases Mind</li>
</ul>
<p><strong>Example</strong>: Saefinn casts Protect, which, if successful, will boost his strength.</p>
<br/>
<h4>Debuffs</h4>
<p>This is the opposite of a buff. If successful, it will be able to decrease an attribute by 1 rank for 4 turns.</p>
<h5>Example Debuffs:</h5>
<ul>
  <li><strong>Blind</strong>: Reduces Strength, Dexterity and Intelligence</li>
  <li><strong>Silence</strong>: Prevents any moves that use Intelligence or Mind</li>
  <li><strong>Pacification</strong>: Prevents any moves that use Strength or Dexterity</li>
  <li><strong>Slow</strong>: Can only perform 1 action per 2 turns</li>
</ul>
<p><strong>Example</strong>: Saefinn casts Virus, if successful, will reduce his foes's strength.</p>
<br/>
<h4>Attacks and Heals</h4>
<p>For every attack or heal, you will role a second die, a 1d3 to determine how much HP is lost or gained.</p>
<p><strong>Example:</strong> Saefinn casts Ruin. *rolls a die* Successful, Saefinn damages his foe for 2hp.</p>
<br/>

 <h4>Damage Avoidance</h4>
  <h5>Evasion</h5>
  <p>This will determine the chances of a character dodging an attack. If they choose to dodge. This is based on "Dexterity"</p>
  <h5>Parry & Block</h5>
  <p>Parry can only happen if the player has a melee weapon. Block can only happen if the player has a shield. This is based on "Strength"</p>
  <h5>Deflect</h5>
  <p>This is specific to magic skills. This will determine how well somebody can deflect a magic spell. This is based on "Mind"</p>
<br/>

<h4>Other Moves</h4>
<p>An action doesn't have to be an attack. It could have another effect. For example, you could disarm a foe, preventing them from attacking from using that weapon. If a character has a secondary weapon, they may choose to use that, or may choose to use a turn to recover their weapon (this would be a separate action and would use 1 turn, 'Saefinn Grabs his Grimoire and launches Ruin II' would be an illegal move)</p>
<p>For this, you are welcome to use your imagination. But you cannot over write or surpass the above rules. How you perform the action will still rely on attributes, so if you "grab the foe's sword and toss is aside" that is still a physical move. </p>
<p><strong>Example: </strong> Saefinn gives his foe a wedgie, if successful, it going to interrupt the foe's next attack and likely make them angry.</p>


</div>