<h1>The Story So Far...</h1>

<p>Under Construction, but you will see what we will be adding below:</p>


<h3>Story Lines And History</h3>
<ul>
    <li><a href="#">The Traitor of Ala Mhigo [Long Plot]</a></li>
    <li><a href="#">The White Mage [Long Plot]</a></li>
    <li><a href="#">The Origin of The Wayward Star</a></li>
    <li><a href="#">Wayward Star and the Maelstrom</a></li>
    <li><a href="#">Wayward Star and the Garlean Empire</a></li>
    <li><a href="#">Wayward Star and The Reavers</a></li>
    <li><a href="#">Wayward Star and the Sahagin</a></li>
    <li><a href="#">Wayward Star and The Ala Mhigans</a></li>
    
    <li><a href="#">A Sky Pirate Adventure</a></li>
    <li><a href="#">The Great Heist</a></li>
    <li><a href="#">Minor Story</a></li>
    <li><a href="#">The Mutinied Captain</a></li>
    <li><a href="#">Mummers of a Wayward Star</a></li>
</ul>

<div class="hidden">

<h3>Character Specific Lines</h3>
<ul>
    <li><a href="#">Saefinn Liljasson</a></li>
    <li><a href="#">X'hayu Nhokhi</a></li>
</ul>



<div id="origin">
    <h1>The Origin of the Pirates</h1>
    
    
    
    <p class="my-pre">The Pirates of the Wayward Star was founded by its dear captain, Saefinn Liljasson. The crew he holds now are not his original. No, following his mutiny of his former captain, he took position right at the top and led his crew into prosperity and reform. Working out to be celebrated among his crew, but then came a fateful day. Sailing the ocean, their ship was attacked by Sahagin. Tragically the ship was destroyed, the crew taken beneath the waves, Saefinn, the only known survivor washed ashore. A Lalafell by the name of Lenu discovered him and set him on the path of recovered, mending both his physical and mental wounds. 
    
    You can read more of the story here: <a href="https://piratesofawaywardstar.herokuapp.com/journal/4">Clicky Here</a></p>
    
    The Lalafell ended up encouraging him to make a new crew and start life anew. Saefinn, who was powerless to protect his crew felt himself weak as a captain. Physically weak, he could not possess the ability to wield a weapon, with the aim of a dead marmot he could only use a gun at point blank range, but had spent much of his time at sea buried in books. Lenu encouraged him to learn magic. Having sought training in magic from the Conjurer's guild and tactics from the Arcanists Guild, he would later find himself calling himself "The Scholar Captain". 
    
    Saefinn sought to recruit for his new crew. A shipless pirate captain wasn't really a strong selling point. He encountered two potentials, one, a young lad from a moderately wealthy family, I'shkandar and a former bar wench come adventurer, Rosarian. They would then find themselves hiring a lalafell thief by the name of Bobo and a seeker merchant by the name of Poe. Who would in their travels come across a lancer in training Daevien, who was swindled into the crew following his rescue. And end up hiring the mercenary by the name of Keldion. It was from here our crew started to take form.
</div>

<div id="white_mage">
    <h1>The White Mage</h1>
    
    <p class="my-pre">This story has ended up being a long one. Following origins dating back to our original roleplay and is still ongoing. 
    
    From "The Origin of the Pirates", there is mention of the lalafell who saved Saefinn's life and set him on the path to rebuild his crew, Lenu. She plays her part in this story, though none yet know what it is.
    
    Lenu has had a habit of just showing up. As simple as randomly bumping into her in Thanalan, <a href="https://piratesofawaywardstar.herokuapp.com/journal/8">as found here</a>, to showing up at the scene of a crime. She propped when Saefinn was kidnapped in The Shround, which we'll come onto. She was also present when the crew were framed. She has shown up to the estate from time-to-time, taking Saefinn's grimoire and returning it, with people barely noticing and also to try and recruit the crew's baker for experimentation. She's sought to acquire minions, yet has not figured out how to approach people. And when the captain was on a date, she may have stolen both his date's and his clothing. 
    She is the unhinged White Mage, who may have onced had her sanity, but it was a long time ago. Practicing and experimenting with forbidden magic, she's not anywhere for any particular length, hoping to not get caught. 
    
    The second character in this to introduce is Ramshana. An elezen who showed up at the bar one day, a pleasant and well spoken gentleman showing kindness to those around him. Some take a warming up to him, others find his mannerisms to be weird or creepy. He has shown up in the crew's time of need more than once, saving their behinds, yet expecting nothing in return. Appearances that will be explained. 
    
    And now to talk about how this story arc came about. 
    
    The crew had a contract with the Ishgardians of Whitebrim. A contract that eventually turned south. The crew were working with a blackmarket alchemist who developed a potion to suspend fear. They found buyers among the Ishgardians of Whitebrim, it was not a difficult sell for soldiers who face the threat of dragons day-to-day. There was one problem, if the proper dose is not respected, delusion of grandeur may occur. A special warning that was given when making the initial deal. 
    
    Once it was clear the warnings were ignored and the soldiers were getting a high from their delusions, finding themselves over confident and it becoming dangerous. The alchemist stopped supplying them because of this and Saefinn was attacked in Coerthas, almost losing his life as a result. He was saved by the strenuous efforts of his faerie companion, Asarosa. Who was always there for him and keeping his back, no matter the detriment to herself. The attack and aftermath can be <a href="https://piratesofawaywardstar.herokuapp.com/journal/14"> read here</a>.
    
    After Saefinn recovered he went back to Whitebrim with his crew to discussed the cessation of the contract, which was respectfully received. Once outside the walls, they noticed somebody was missing. Saefinn's faerie companion. They tried to rush back for her, but were thrown out of Whitebrim.
    
    Following other events, Saefinn, the Scholar Captain, had found himself helping exorcise a friend of the crew, who had managed to get possessed by a Voidsent. Saefinn on the other hand had other plans, he sought to intentially let the Voidsent take possesion of him, believing he had a means of regaining his own control over the Voidsent. He thought of it as an opportunity to gain the power he would need to take on Whitebrim in hunt of Asarosa. His plan worked for the most part, he mostly had control and managed to take out a number of Whitebrim guards. But was soon thwarted, as the Voidsent become fearful of a figure in Whitebrim and urged Saefinn to flee for the sake of them both. Curious as to what would scare a Voidsent so much Saefinn returned Whitebrim's wall to sit vigil. You can read more <a href="https://piratesofawaywardstar.herokuapp.com/journal/15">here</a> and <a href="https://piratesofawaywardstar.herokuapp.com/journal/16">here</a>.  It was then his crew showed up, led by their allied Maelstrom officer, Beldrem and Saefinn's trusted friend, Poe, they pleaded him to step down from the madness and let them help him. Saefinn insisted he had things under control, up until the point he attacked Beldrem, setting him on fire and knocking him off a several foot high wall into the snow. During the ritual, he insisted on have the Voidsent bound to a Grimoire, which he now keeps. 
    
    What happened at Whitebrim remains a mystery. However, something peculiar did once happen not too far from Whitebrim. X'hayu was following a robed man who attacked her, Laura and Kai came to her aid and the man managed to summon a lesser Behemoth, nothing has been seen regarding this man since. 
    
    The crew ended up coming across various notes left to them about Saefinn's debt, a life for a life and one claiming it to have been paid. These notes were all attributed to Lenu, who saved Saefinns life. We later learned that the debt was that she had been the one to kidnap Asarosa, not the Ishgardians. Although kidnapped, Asarosa found herself wilfully standing by Lenu's side, believing her to not be a threat to the crew and found her to be treated well and had good intentions for kidnapping her. For reasons that still confuse the Captain. 
    
    The crew's Ul'dah contact, Steinn Wynfyd, had a job that needed a little 'discretion'. There was a cargo that was to be transported from Gridania to Little Ala Mhigo. The contract was peculiar in that the contact was a Padjali, not the kind of person known to associate with pirates. In the shroud the crew found themselves ambushed by conjurers, one of whom used forbidden magicks. The crew was assisted by a sharpshooter in the distance, who soon turned his fire onto them.
    Unable to locate the shooter, Saefinn tried to protect his crew by pretending to take the cargo with him and running separate from his crew to draw fire away from them as they get the package out. It turned out that the gunman wanted Saefinn, not the package. He was kidnapped. 
    
    The crew tried everything they could to locate their captain. They investigated and followed various leads. Following his kidnap the crew had to investigate and track him down. Multiple leads were present, some Ishgardian, some Garlean, both enemies Saefinn had. Lenu managed to make herself suspicious during this time, the crew believed she had something to do with it. Then Ramshana showed delivering useful evidence from the North, claiming to have come from Whitebrim, on how they might find the captain. It was a useful step in getting him back.
    
    It was found that Saefinn was kidnapped by Garleans, who were questioning him with regards to a lalafell. 
    
    Many unanswered questions remained for them. As Lenu was found to not be the perpetrator and with Saefinn's faerie returned to him, she was seen as a madwoman, but not sinister. 
    
    Then a man from Ishgard contacted the crew for a job. House Dzemael were in possession of a family heirloom of his he wanted the crew to steal back for him. The crew were ready to ambush the thief and take back what belonged to their contact when they found that they and their guards had been slaughtered. The crew showed up just in time for members of House Dzemael to show up and catch them red handed. The crew were going to take their chances of fighting their way out before Ramshana showed up to vouch for their innocence. As it transpired that he was representative of House Dzemael, they accepted his testimony. Ramshana offered to help them find out who was responsible, that he believes he is chasing the same people. As the crew dispersed Saefinn encountered Lenu, who was found to be travelling and pleasantries were passed.
    
    Ramshana got in contact with the crew again, saying an Ishgardian man matching the description of the one who double-crossed the crew and a mage accomplice were spotted heading into The Shroud from Coerthas. The trail led them to the ruins of Amdapor. They found the dead body of an Ishgardian, but not their man. They were then spooked by possessed golems and after defeating them, Lenu's satchel was found. The city of Amdapor was considered to be too dangerous to pursue, given the aftermath of the War of the Magi and how those who ponder in, don't tend to ponder back out. A dead end. 
    
    In the last chapter completed. At The Fated Inn, Saefinn encountered a member of HoD, an archeologist of sorts, trying to play it smooth Saefinn used the term as a euphemism for stealing. Realising Saefinn took an interest in ancient ruins, she gave more information on what work she and her company does. He asked if they could survey the ruins of Amdapor City and any potential threats they may face, she said they could and a survey was performed. 
    
    At the same bar, Lenu showed up to give their barmaid, Mackenzie, a gift to give to Saefinn. It was a White Magestone.
    
    With this survey Saefinn was able to put together members of the crew to take on these ruins. In teams of two they tackled the ruins. Saefinn took Laura, looking for clues of the "mage companion" Ramshana previously referred to whilst Laurenenne led a second party scouting the ruins and looking for clues at the same time. Laura and Saefinn discovered deep in the city that the Whitemage stone had a purpose. A White Mage appeared before them and Ramshana showed up, restricted and held the mage back before teleporting both Laura and Saefinn to safety. He explained that he had gone after them, suspecting the potential dangers within.
    
    And this is where the story was left. 
    </p>
    
</div>
</div>