/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    padding-top: 40px;
    background-image: url("http://i.imgur.com/0GjU6l9.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}


.alert {
    margin-top: 10px;
}

.my-pre {
    background: none;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: pre-wrap;
    
    
}

textarea {
    width: 98%;
    max-width: 98%;
    min-height: 100px;
    
}

.post-box textarea{
    min-height: 300px;
}


.main-text {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 15px 15px 15px;
    background-color: rgba(255,255,255,0.85);
    width: 100%;
    border-radius: 5px;
}


.text label{
    display: none;
}

.string label{
    display: none;
}