/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {

    background-image: url("http://i.imgur.com/0GjU6l9.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;



}


#Logo a {
    text-decoration: none;
    font-size: 64px;
    color: rgb(240, 240, 240);
    text-shadow:5px 5px 5px #000;

}



.alert {
    margin-top: 10px;
    background-color: rgba(0,0,0,0.6);
    padding: 5px 0;
    border-radius: 10px;
    color: rgb(200, 200, 200);
}

.alert button {
    background-color:transparent;
    -moz-border-radius:39px;
    -webkit-border-radius:39px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;

}

/* page display */

/* For displaying multi line content */
.my-pre {
    background: none;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: pre-wrap;
    
    
}

/* Main body content */
.main-text {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 15px 15px 15px;
    background-color: rgba(255,255,255,0.85);
    width: 95%;
    border-radius: 5px;
}




.indent {
    margin-left: 20px;
}

/*used for summaries - like for profiles */
.text-summary {

    height: 64px;
    overflow: hidden;

}

.lean-left {
    float: left;
    margin-left: 50px;
}

.lean-bottom {
    float: bottom;
}



/* An item box for display blocks of information */
#item {
    margin-top: 20px;

    min-width: 100%;
    padding: 0;
    list-style: none;


}

#item li {

    width: 20%;
    margin: 1%;


    background-color: rgba(245,240, 240, 0.75);


    border-radius: 10px;

    padding: 10px 10px;



}

#item li a {
    text-decoration: none;
    color: rgb(20,20,20);
}


.journal {
    background-color: rgba(255,255,255, 0.5);
    margin-bottom: 5px;
    padding: 1%;
    padding-top: 2px;
}

.journal h3 a {
    text-decoration: none;

}

.journal h2 a {
    text-decoration: none;
    color: rgb(0,0,0);
}




.journal img {
    float: left;
    margin-top: 2%;
    margin-right: 1%;
}



.thread {
    background-color: rgba(255,255,255, 0.5);
    margin-bottom: 5px;
    padding: 1%;
    padding-top: 2px;
}

.thread h3 a {
    text-decoration: none;

}




.thread img {
    display: block;
}



/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}
.span_2_of_3 {
    width: 66.1%;
}
.span_1_of_3 {
    width: 25%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col { margin: 1% 0 1% 0%;}
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}





/*
background-color: rgba(245,240,240, 0.75);
max-width: 300px;

padding: 15px;
margin-left: 10px;
border-radius: 10px;
text-decoration: none;
margin-top: 10px;
*/

.same-line {
    float: left;
}




.info-box {
    background-color: rgba(255,255,255, 0.75);
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}

/* Forms */

textarea {
    width: 98%;
    max-width: 98%;
    min-height: 450px;

    
}



.post-box textarea{
    min-height: 300px;
}




/* Hide labels made by simple forms */
.text label{
    display: none;
}

.string label{
     display: none;
 }

.form-group label{
    display: none;
}





/* MENU */
#menu {
    text-align: center;
    padding: 10px 0;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(0,0,0,0.7);
    max-width: 100%;
    width: 100%;
    border-radius: 10px;

}

#menu ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

#menu li {
    display: inline-block;
}

#menu a {
    font-weight: 800;
    padding: 15px 10px;
    text-decoration: none;
    color: rgb(150,150,150);

}

#menu a:hover {
    color: rgb(205,205,205);
}

/* User login menu */
#login-bar {
    padding: 5px 0;
    background-color: rgba(50,50,50, 0.8);
    border-radius: 10px;
    float: right;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;

}

#login-bar ul {
    list-style: none;
    margin: 0 14px;
    padding: 0;

}

#login-bar li {
    display: inline-block;
}

#login-bar a {
    padding: 15px 10px;
    text-decoration: none;
    color: rgb(150,150,150)

}

#login-bar a:hover {
    color: rgb(205,205,205);
}


/* secondary menu */
.secondary-menu {
    background: rgba(0,0,0,0.75);
    max-width: 90%;
    padding: 5px 0;
    margin:auto;
    margin-top: 3px;
    border-radius: 10px;
}

.secondary-menu a {
    margin: 10px;
    text-decoration: none;
    color: rgb(150,150,150);


}

.secondary-menu a:hover {
    color: rgb(255,255,255);
}


.digg_pagination {

    cursor: default;
    /* self-clearing method: */ }
.digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
.digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
.digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #000;
    color: white;
    border: 1px solid #000; }
.digg_pagination a {
    text-decoration: none;
    color: #000;
    border: 1px solid #fff; }
.digg_pagination a:hover, .digg_pagination a:focus {
    color: #000033;
    border-color: #000033; }
.digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
.digg_pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em; }
.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
* html .digg_pagination {
    height: 1%; }
*:first-child + html .digg_pagination {
    overflow: hidden; }

