/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* CSS LAYOUT
 *
 * CORE: Any Core HTML tags. This will apply first to all styles.
 * GENERAL USE: Rules that can be applied to multiple situations. For example, if you want to indent something, you add "indent".
 * MENUS: For Styling all menus in the sites. Which current are: Main, Secondary and Login
 * ARTICLES: For Styling Articles, such as news, events and journals
 * BODIES: Any misc styling that affect the content body of the site
 * HEADERS: Anything that affects the headers of the site, so the logo, title, error/warning/status messages
 * FOOTERS: Anything to style the bottom of the site
 * PAGINATION: Anything to style the pagination controls of the site
 * ITEM LISTS: Styling any lists of objects on the site, like the inventory
 * FORMS: Rules for styling form elements in the site
 * FORUMS: Styling specific to the site's forum
 *
 * /


/* -----------*/
/* CORE */
/* -----------*/


body {

    background-image: url("http://i.imgur.com/0GjU6l9.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;



}


a {
    color: rgb(205,205,255);
}



/*------------*/
/* GENERAL USE */
/*------------*/

.indent {
    margin-left: 20px;
}

/*used for summaries - like for profiles */
.text-summary {

    height: 65px;
    overflow: hidden;

}

.lean-left {
    float: left;
    margin-left: 50px;
}

.lean-bottom {
    float: bottom;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}
.span_2_of_3 {
    width: 66.1%;
}
.span_1_of_3 {
    width: 25%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col { margin: 1% 0 1% 0%;}
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

.same-line {
    float: left;
}

.info-box {
    background-color: rgba(255,255,255, 0.1);
    padding: 15px;
    margin-top: 20px;
}



/* ---------- */
/* MENUS */
/* ---------- */


/* MAIN MENU */
#menu {
    text-align: center;
    padding: 10px 0;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(255,0,0,0.0);
    max-width: 100%;
    width: 100%;
    border-radius: 10px;

}

#menu ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

#menu li {
    display: inline-block;
}

#menu a {
    font-weight: 400;
    padding: 15px 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: rgb(255,255,255);
    background-color: black;
    border-bottom: solid;
    border-bottom-width: 5px;
    margin-bottom: 30px;
    font-size: 0.85em;

}

#menu a:hover {
    color: rgb(205,205,205);
    border-bottom-color: rgb(205, 205,255);
}

/* User login menu */
#login-bar {
    padding: 5px 0;
    background-color: rgba(50,50,50, 0.8);
    float: right;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;

}

#login-bar ul {
    list-style: none;
    margin: 0 14px;
    padding: 0;

}

#login-bar li {
    display: inline-block;
}

#login-bar a {
    padding: 15px 10px;
    text-decoration: none;
    color: rgb(150,150,150);

}

#login-bar a:hover {
    color: rgb(205,205,205);
}


/* secondary menu - use for creating articles, events etc. */
.secondary-menu {
    background: rgba(0,0,0,0);
    max-width: 50%;
    padding: 5px 0;
    margin:auto;
    margin-top: 20px;
    
    
}

.secondary-menu a {
    margin: 10px;
    text-decoration: none;
    color: rgb(150,150,150);
    background-color: black;
    border-bottom: solid;
    border-bottom-width: 5px;
    margin-bottom: 30px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 0.75em;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    


}

.secondary-menu a:hover {
    color: rgba(255,255,255, 0.8);
}





/*-----------*/
/* ARTICLES */
/*----------*/

.Article a {
    text-decoration: none;
    color: white;
    
    
}


.Article .my-pre {
    max-height: 200px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.4);
    padding: 5px;
    
}



.Article a:hover {
    color: grey;
}

.Article strong a {
    font-size: 10pt;
    background-color: rgba(255,255,255,0.9);
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px; 
    border-radius: 2px; 
}

.Article strong a:hover {
    background-color: rgba(155,155,155,0.9);
    color: grey;
}


.my-pre {
    background: none;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: pre-wrap;
}

.thread span {
    display: block;
    white-space: pre-wrap;
}

.main-text {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 5px 15px 15px 15px;
    color: white;
    background-color: rgba(0,0,0,0.85);
    width: 95%;
    
    
}

.journal {
    background-color: rgba(255,255,255, 0.1);
    margin-bottom: 5px;
    padding: 1%;
    padding-top: 2px;
}

.journal:hover {
    background-color: rgba(255,255,255, 0.2);
}

.journal h3 a {
    text-decoration: none;

}

.journal h2 a {
    text-decoration: none;
    color: rgb(255,255,255);
}




.journal img {
    float: left;
    margin-top: 2%;
    margin-right: 1%;
}


/*----------*/
/* BODIES */
/*----------*/



/*----------*/
/* HEADERS */
/*----------*/

#Logo a {
    text-decoration: none;
    font-size: 64px;
    color: rgb(240, 240, 240);
    text-shadow:5px 5px 5px #000;

}



.alert {
    margin-top: 10px;
    background-color: rgba(0,0,0,0.6);
    padding: 5px 0;
    border-radius: 10px;
    color: rgb(200, 200, 200);
}

.alert button {
    background-color:transparent;
    -moz-border-radius:39px;
    -webkit-border-radius:39px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;

}




/*----------*/
/* FOOTERS */
/*----------*/

/*----------*/
/* PAGINATION */
/*----------*/


.digg_pagination {

    cursor: default;
    /* self-clearing method: */ }
.digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
.digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
.digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #000;
    color: white;
    border: 1px solid #000; }
.digg_pagination a {
    text-decoration: none;
    color: rgb(255,255,255);
    border: 1px solid #fff; }
.digg_pagination a:hover, .digg_pagination a:focus {
    color: rgba(255,255,255,0.7);
    border-color: rgba(255,255,255,0.7); }
.digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
.digg_pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em; }
.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
* html .digg_pagination {
    height: 1%; }
*:first-child + html .digg_pagination {
    overflow: hidden; }


/*----------*/
/* ITEM LISTS */
/*---------*/

.inventory {
    list-style: none;
    margin: 3px;
    margin-left: 10px;
    padding: 3px;
    
}

/* An item box for display blocks of information */
#item {
    margin-top: 20px;

    min-width: 100%;
    padding: 0;
    list-style: none;


}

#item li {

    width: 47.5%;
    margin: 0.5%;
    padding: 10px 10px;
    background-color: rgba(255,255,255, 0.10);
    


}

#item li a {
    text-decoration: none;
    color: rgb(255,255,255);
}

#item li a:hover {
    color: rgb(205,205,255);
}

/*----------*/
/* FORMS */
/*----------*/

textarea {
    width: 98%;
    max-width: 98%;
    min-height: 450px;
    background-color: rgba(255,255,255, 0.1);
    color: white;
    border: none;
    

    
}

.bbcode li {
    list-style: none;
    float: left;
    margin: 4px;
}


select, input{
    background-color: rgba(255,255,255, 0.1);
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    font-size: 1.750em;
    margin: 5px;
    
}

select:focus {
    background-color: black;
}


input[type="submit"] {
    margin-top: 20px;
    font-size: 1em;
    height: 46px;
    font-weight: 400;
    padding: 15px 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.1);
    border: none;
    border-bottom: solid;
    border-bottom-width: 5px;
    margin-bottom: 30px;
    width: 100%;
    
}

input[type="submit"]:hover{
    background-color: rgba(255,255,255,0.2);
    border-bottom-color: rgb(205,205,205);
}


.post-box textarea{
    min-height: 300px;
}




/* Hide labels made by simple forms */
.text label{
    display: none;
}

.string label{
     display: none;
 }

.form-group label{
    display: none;
}

/*------------*/
/* FORUMS*/
/* ----------*/
.thread {
    background-color: rgba(255,255,255, 0.1);
    margin-bottom: 5px;
    padding: 1%;
    padding-top: 2px;
}

.thread h3 a {
    text-decoration: none;

}




.thread img {
    display: block;
}



/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/



/*
Homepage
Documentation
Examples
Downloads
Download the latest
markItUp! pack 1.1.14
Feb, 04 2013 markItUp! pack 1.1.14
Download now!
Fork the code on Github.
Last commit: 2015-10-28
Sponsors
Buy me a beer!
Support the project! Making a donation will motivate me to keep this project going and allow for further development.
Amount	
	Cheers!
© markItUp! and Jay Salvat

*/



/*
background-color: rgba(245,240,240, 0.75);
max-width: 300px;

padding: 15px;
margin-left: 10px;
border-radius: 10px;
text-decoration: none;
margin-top: 10px;
*/




